---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <section class="container">
      {% include navigation.html %}
      <header>
        <h1>Hi, I'm Jaril</h1>
      </header>
      <div class="">
        <p>I'm a product engineer at <a href="https://replay.io/" target="_blank">Replay</a>. In my spare time, I hang off of gymnastic rings and study classical drawings.</p>
        <p>I've spent years writing <a href="https://gist.github.com/" target="_blank">gists</a> for personal notes, cheatsheets and instructions that get circulated as resources among my immediate social circle. The idea for this blog came about as I realized that those same resources could help other people as well.</p>
        <p>Initially, this space will be mostly dedicated to a specific class of topic - too big to be added as an inline code comment, but too general to have its own documentation. I've found that this class of programming topic is the most exciting one to talk about, yet it is rarely captured in writing.</p>
        <p>Hence, <a href="https://notagist.com" target="_blank">notagist.com</a>.</p>
      </div>
      <header>
        <h3>Latest posts</h3>
      </header>
      <ul>
        {{ site.data.about }}
        {% for post in site.posts %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="timestamp">{{ post.date | date_to_string }}</div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>